/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
/* GENERAL */
body
{
    background-color: #ffffff;
    font-family: 'Raleway', 'Sans Serif';
    margin: auto;
    padding: 0px 50px 0px 50px;
    max-width: 1440px;
}
/* HEADER */
header
{
    min-height: 5.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu_principal
{
    display: flex;
    min-height: 5.5em;
}
#menu_principal nav
{
    display: flex;
    align-items: center;
    min-height: 5.5em;

}
#menu_principal nav a, #menu_principal nav a:visited, #menu_principal nav a:active
{
    color: black;
}
#sinscrire
{
    color: #0065FC;
    display: flex;
    align-items: center;
    min-height: 5.5em;
}
#menu_principal a
{
    display: flex;
    align-items: center;
    margin-left: 3em;
    text-decoration: none;
    min-height: 5.5em;
    border-top: 3px solid transparent;
    font-weight: 500;
}
#menu_principal a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC; 
}
/* BARRE DE RECHERCHE */
#filtres form
{
    display: flex;
}
#icone_position
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 1em 0 0 1em;
}
#bouton_rechercher
{
    background-color: #0065FC;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 1em;
    border-radius: 0 1em 1em 0;
    font-weight: bold;
}
#champs_recherche
{
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
}
/* FILTRES */
