/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
/* GENERAL */
body
{
    background-color: #ffffff;
    font-family: 'Raleway', 'Sans Serif';
}
main
{
    max-width: 1440px;
    margin: auto;
    padding: 0px 50px 0px 50px;
}
.no_margin
{
    margin-block: unset;
}
/* HEADER */
header
{
    min-height: 5.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu_principal
{
    display: flex;
    min-height: 5.5em;
}
#menu_principal nav
{
    display: flex;
    align-items: center;
    min-height: 5.5em;

}
#menu_principal nav a, #menu_principal nav a:visited, #menu_principal nav a:active
{
    color: black;
}
#sinscrire
{
    color: #0065FC;
    display: flex;
    align-items: center;
    min-height: 5.5em;
}
#menu_principal a
{
    display: flex;
    align-items: center;
    margin-left: 3em;
    text-decoration: none;
    min-height: 5.5em;
    border-top: 3px solid transparent;
    font-weight: 500;
}
#menu_principal a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC; 
}
/* BARRE DE RECHERCHE */
#recherche form
{
    display: flex;
    margin: 2em 0 2em 0;
}
#icone_position
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 1em 0 0 1em;
}
#bouton_rechercher
{
    background-color: #0065FC;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 1em;
    border-radius: 0 1em 1em 0;
    font-weight: bold;
    text-decoration: none;
}
#champs_recherche
{
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
}
/* FILTRES */
#filtres
{
    display: flex;
    max-height: 50px;
    align-items: center;
    margin-bottom: 1em;
}
.boutons_filtres
{
    display: flex;
    position: relative;
    margin-left: 2em;
    border: 2px solid #dddddd;
    border-radius: 2em;
    align-items: center;
    padding: 0;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 55px;
}
.icones_filtres
{
    display: flex;
    position: absolute;
    left: -4px;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 54px;
    background-color: #deebff;
    border-radius: 2em;
    color: #0000ff;
    margin-right: 1em;
}
/* INFORMATION FILTRES */
#icone_information_filtres
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dddddd;
    border-radius: 1em;
    height: 29px;
    width: 29px;
    color: #0065FC;
    margin-right: 1em;
}
#information_filtres
{
    display: flex;
    align-items: center;
}
/* HEBERGEMENTS PRINCIPAUX */
#main_hebergements
{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
}
#hebergements_marseille
{
    
}
#hebergements_principaux
{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f2f2f2;
    border-radius: 2em;
    padding: 2em;
    
}
.titre_hebergements
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    padding: 0%;
    margin-block: unset; /* afin d'éviter les marges sur le titre */
    padding-bottom: 1em;
}
.zone_texte_hebergement_principal
{
    padding: 3px;
}
/* FICHES */
.fiche_hebergement_principal
{
    background-color: #FFFFFF;
    border-radius: 1em;
    padding: 5px;
    min-width: 15em;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.068);
    margin-bottom: 2em;
}
.img_fiche_hebergement_principal
{
    height: 7rem;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
    width: 100%;
}
.etoiles_hebergement
{
    display: flex;
}
.etoile_true
{
    color: #0065FC;
}
.etoile_false
{
    color: #d9d9d9;
}
/* FICHES SECONDAIRES */
.fiche_hebergement_secondaire
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #FFFFFF;
    border-radius: 1em;
    padding: 5px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.068);
    min-width: 100%;
    margin-bottom: 2rem;
}
.img_fiche_hebergement_secondaire
{
    grid-column-start: 1;
    height: 8rem;
    object-fit: cover;
    border-radius: 1em 0 0 1em;
    width: 100%;
}
.zone_texte_hebergement_secondaire
{
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
/* HEBERGEMENTS SECONDAIRES */
#hebergements_secondaires
{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 2em;
    padding: 2em;
    flex: 1;
}
/* ACTIVITES */
#images_activites_marseilles
{
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 20em);
    margin-bottom: 2rem;
}
.fiche_activite
{
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.075);
}
.fiche_activite img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
}
.fiche_activite h3
{
    margin-left: 10px;
}
/* POSITION DES FICHES D'ACTIVITES */
.vieux_port
{
    grid-column-start: 1;
    grid-row: span 2;
}
.parc_calanques
{
    grid-column: 3;
    grid-row : span 2;
}
/* Ordre -> vieux port, fort de pomegues, parc national, notre dame, ile frioul et parc longchamp */

/* FOOTER */
#column_footer
{
    max-width: 1440px;
    margin: auto;
    padding: 0px 50px 0px 50px;
    display: flex;
    justify-content: space-around;
}
#footer
{
    background-color: #f2f2f2;
    width: 100%;
}
.liste_footer
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#footer a
{
    color: black;
    text-decoration: none;
    padding-bottom: 0.5em;
}
/* RESPONSIVE TABLETTE */
@media screen and (max-width: 1440px)
{
    #main_hebergements
    {
        display: flex;
        flex-direction: column-reverse;
    }
    #hebergements_secondaires
    {
        margin-bottom: 2rem;
    }
    #hebergements_populaires
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
    /* ACTIVITES */
    #images_activites_marseilles
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .vieux_port
    {
        grid-column-start: 1;
        grid-row: 1;
    }
    .parc_calanques
    {
        grid-column: 3;
        grid-row : 1;
    }
}