/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
/* GENERAL */
body
{
    background-color: #ffffff;
    font-family: 'Raleway', 'Sans Serif';
    margin: 0;
}
main, header
{
    max-width: 1440px;
    margin: auto;
    padding: 0px 50px 0px 50px;
}
.no_margin
{
    margin-block: unset;
}
/* HEADER */
header
{
    min-height: 5.5em;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo espace nav bouton";
    align-items: center;
}
#logo
{
    grid-area: logo;
}
#espace
{
    grid-area: espace;
}
#menu_principal
{
    display: flex;
    min-height: 5.5em;
    grid-area: nav;
}
#menu_principal a, #menu_principal a:visited, #menu_principal a:active
{
    color: black;
}
#sinscrire
{
    color: #0065FC;
    display: flex;
    align-items: center;
    min-height: 5.5em;
    font-weight: bold;
    grid-area: bouton;
    text-decoration: none;
    margin-left: 3em;
}
#menu_principal a
{
    display: flex;
    align-items: center;
    margin-left: 3em;
    text-decoration: none;
    min-height: 5.5em;
    border-top: 3px solid transparent;
    font-weight: 500;
}
#menu_principal a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC; 
}
/* BARRE DE RECHERCHE */

#recherche form
{
    display: flex;
    margin: 2em 0 2em 0;
}
#icone_position
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #f2f2f2;
    border-radius: 1em 0 0 1em;
}
#bouton_rechercher
{
    background-color: #0065FC;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 1em;
    border-radius: 0 1em 1em 0;
    font-weight: bold;
    text-decoration: none;
}
#champs_recherche
{
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-left: none;
    border-right: none;
}

/* FILTRES */
#filtres
{
    display: flex;
    
    align-items: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
}
#texte_filtres
{
    margin-right: 1em;
}
.boutons_filtres
{
    display: flex;
    position: relative;
    margin-right: 2em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    border-radius: 2em;
    align-items: center;
    padding: 0;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 55px;
}
.icones_filtres
{
    display: flex;
    position: absolute;
    left: -4px;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 54px;
    background-color: #deebff;
    border-radius: 2em;
    color: #0000ff;
    margin-right: 1em;
}
.lien_bouton_filtre
{
    text-decoration: none;
    color: black;
}
.lien_bouton_filtre:hover
{
    transform: scale(1.05);
}
/* INFORMATION FILTRES */
#icone_information_filtres
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dddddd;
    border-radius: 1em;
    height: 29px;
    width: 29px;
    color: #0065FC;
    margin-right: 1em;
}
#information_filtres
{
    display: flex;
    align-items: center;
}
/* HEBERGEMENTS PRINCIPAUX */
#main_hebergements
{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 6fr 3fr;
}
#hebergements_principaux
{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    background-color: #f2f2f2;
    border-radius: 2em;
    padding: 2em;
    
}
.titre_hebergements
{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    padding: 0%;
    margin-block: unset; /* afin d'éviter les marges sur le titre */
    padding-bottom: 1em;
    display: flex;
    justify-content: space-between;
}
.zone_texte_hebergement_principal
{
    padding: 3px;
}
#afficher_plus_hebergements
{
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
}
/* FICHES */
.fiche_hebergement_principal
{
    background-color: #FFFFFF;
    border-radius: 1em;
    padding: 5px;
    min-width: 15em;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.068);
    margin-bottom: 2em;
}
.img_fiche_hebergement_principal
{
    height: 7rem;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
    width: 100%;
}
.etoiles_hebergement
{
    display: flex;
    margin-top: auto;
}
.etoile_true
{
    color: #0065FC;
}
.etoile_false
{
    color: #d9d9d9;
}
/* FICHES SECONDAIRES */
.fiche_hebergement_secondaire
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #FFFFFF;
    border-radius: 1em;
    padding: 5px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.068);
    min-width: 100%;
    margin-bottom: 2rem;
}
.img_fiche_hebergement_secondaire
{
    grid-column-start: 1;
    height: 8rem;
    object-fit: cover;
    border-radius: 1em 0 0 1em;
    width: 100%;
}
.zone_texte_hebergement_secondaire
{
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.lien_fiche
{
    color: black;
    text-decoration: none;
}
.lien_fiche:hover
{
    color: #0065FC;
    text-decoration: none;
}
/* HEBERGEMENTS SECONDAIRES */
#hebergements_secondaires
{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 2em;
    padding: 2em;
    flex: 1;
}
/* ACTIVITES */
#images_activites_marseilles
{
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 20em);
    margin-bottom: 2rem;
}
.fiche_activite
{
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.075);
    text-decoration: none;
    color: black;
}
.fiche_activite img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;
    position: relative;
}
.fiche_activite h3
{
    margin-left: 10px;
}
.fiche_activite:hover
{
    color: #0065FC;
}
/* POSITION DES FICHES D'ACTIVITES */
.vieux_port
{
    grid-column-start: 1;
    grid-row: span 2;
}
.parc_calanques
{
    grid-column: 3;
    grid-row : span 2;
}
/* Ordre -> vieux port, fort de pomegues, parc national, notre dame, ile frioul et parc longchamp */

/* FOOTER */
#column_footer
{
    max-width: 1440px;
    margin: auto;
    padding: 0px 50px 0px 50px;
    display: flex;
    justify-content: space-around;
}
#footer
{
    background-color: #f2f2f2;
    width: 100%;
}
.liste_footer
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#footer a
{
    color: black;
    text-decoration: none;
    padding-bottom: 0.5em;
}
#footer a:hover
{
    color: #0065FC;
}
/* RESPONSIVE TABLETTE */
@media screen and (max-width: 1440px)
{
    #main_hebergements
    {
        display: flex;
        flex-direction: column-reverse;
    }
    #hebergements_secondaires
    {
        margin-bottom: 2rem;
    }
    #hebergements_populaires
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
    .fiche_hebergement_secondaire
    {
        margin-bottom: 0;
    }
    /* ACTIVITES */
    #images_activites_marseilles
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .vieux_port
    {
        grid-column-start: 1;
        grid-row: 1;
    }
    .parc_calanques
    {
        grid-column: 3;
        grid-row : 1;
    }
}
/* REGLE EXCLUSIVE POUR LA BARRE DE RECHERCHE */
@media screen and (min-width: 632px)
{
    .fa-search
    {
        display: none !important; /* Sans le !important, le logo ne s'enleve pas */
    }
}
/* TRANSITION RESPONSIVE => 1008px */
@media screen and (max-width: 1008px)
{
    #hebergements_populaires
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 2rem;
    }
    #hebergements_principaux
    {
        display: flex;
        flex-direction: column;
    }
    #filtres h2
    {
        width: 100%;
    }
    .img_fiche_hebergement_principal
    {
        height: auto;
        max-height: 13rem;
    }
}
/* TRANSITION RESPONSIVE => 680px */
@media screen and (max-width: 680px)
{
    #images_activites_marseilles
    {
        display: flex;
        flex-wrap: wrap;
    }
    .fiche_activite
    {
        width: 100%;
        height: 100%;
    }
}
/* TRANSITION RESPONSIVE => 632px */
@media screen and (max-width: 632px)
{
    main, header
    {
        margin: 0;
        padding: 0;
    }
    header
    {
        justify-content: space-between;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: "logo espace bouton"
                       "nav nav nav";
    }
    #menu_principal
    {
        display: flex;
        justify-content: space-around;
        height: fit-content;
    }
    #menu_principal a
    {
        margin: 0;
        width: 50%;
        justify-content: center;
        border-bottom: 3px solid #f2f2f2;
    }
    #lien_hebergements
    {
        border-bottom: 3px solid #0065FC !important;
    }
    #menu_principal a:hover
    {
        color: black;
        border-top: 3px solid transparent; 
    }
    /* BARRE DE RECHERCHE */
    
    #champs_recherche
    {
        flex: 1;
    }
    #texte_rechercher
    {
        display: none;
    }
    #bouton_rechercher
    {
        border-radius: 1em;
    }
    /* FOOTER */
    #column_footer
    {
        flex-direction: column;
    }
    /* AUTRES MODIFICATIONS LEGERES */
    #recherche, #logo, #sinscrire, #activites_marseilles
    {
        padding: 0px 2em 0px 2em;
    }
    #hebergements_principaux
    {
        background-color: transparent;
    }
    #hebergements_secondaires
    {
        border-radius: 0;
    }
    .img_fiche_hebergement_principal
    {
        max-height: 7rem;
    }
}